{% extends 'accounts/main.html' %}
{% block cssfile %}
<style>
.reset-password {
    border: 1px solid #03c9a8;
    padding: 15px;
    margin: 0px auto;
    text-align: center;

}
.footer-main {
    position: fixed;
    bottom: 0px;
    left: 0px;

}
.reset-password-form input {
    width: 100%;

}
.reset-password-form label {
    display: block;
}
.send-mail {
    outline: none;
    border: none;
    padding: 5px 10px;
    background: black;
    color: white;
}
.send-mail:hover {
    background: #03c9a8;
    color: black;
}
@media (min-width: 430px) {
.reset-password-form input {
width: 375px;
}
}
</style>

{% endblock %}
{% block title %}
<title>Reset Your Password</title>
{% endblock %}
{% block content %}
<form action="" method="POST">
<div class="reset-password">
    {%csrf_token%}
<p class="reset-password-title">Please enter your new password twice so we can verify that you typed correct.</p>
<p class="reset-password-form"><label for="new_password1">New Password</label> {{form.new_password1}}</p>
<p class="reset-password-form"><label for="new_password2">Confirm New Password</label> {{form.new_password2}}</p>
<input type="submit" value="Change Password" class="send-mail">
</div>

</form>
{% endblock %}