.signup-title {
    color: #03c9a8;
    text-align: center;
}

.widget-container {
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #03c9a8;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.200);
    min-width: 345px;

}
.widget-container label {
    display: block;
    margin: 0px;
}

.widget-container input[type="text"],
.widget-container input[type="email"],
.widget-container input[type="password"] {
    width: 100%;
    height: 35px;
    font-size: 20px;
}

.field-div {
    padding: 10px;
}
.buttons-main {
    padding: 10px 0px;
    margin-top: 30px;
}
.buttons-main {
    text-align: center;
}
.buttons-main > input {
    border: 0px;
    color: white;
    background: black;
    padding: 4px 8px;
    margin: 10px;
    line-height: normal;
    border-radius: 2px;
    width: 100px;
}
.cancel-button {
    display: inline-block;
    text-decoration: none;
    border: 0px;
    color: white;
    background: black;
    padding: 4px 8px;
    margin: 10px;
    line-height: normal;
    border-radius: 2px;
    width: 100px;
}

.buttons-main > input:hover,
.cancel-button:hover {
    outline: 1px solid black;
    color: white;
    background: #03c9a8;
}

#wrapper {
    height: calc(100vh - 74px - 33px - 122px - 15px);
}

.success-message {
    padding: 10px;
    background: #03c9a8;
    border: 1px solid black;
    color: white;
    text-align: center;
}