
<div class="footer-links-container">
<h6 class="footer-links"><a href="{% url 'login' %}">Login</a></h6>
<h6 class="footer-links"><a href="{% url 'signup' %}">Signup</a></h6>
<h6 class="footer-links"><a href="">Support</a></h6>
<h6 class="footer-links"><a href="">Contact-us</a></h6>
</div>
<small>Use of this Site is subject to express terms of use. By using this site, you signify that you agree to be bound by these Universal Terms of Service.</small>
<div class="footer-end"><small>Copyright © 1999 - 2020 Dashboard Company, LLC. All Rights Reserved</small></div>