{% extends 'accounts/main.html' %}
{% block cssfile %}
<style>
.reset-password {
    border: 1px solid #03c9a8;
    padding: 15px;
    margin: 0px auto;
    text-align: center;

}
.footer-main {
    position: fixed;
    bottom: 0px;
    left: 0px;

}

.send-mail {
    outline: none;
    border: none;
    padding: 5px 10px;
    background: black;
    color: white;
}
.send-mail:hover {
    background: #03c9a8;
    color: black;
}

</style>

{% endblock %}
{% block title %}
<title>Reset Your Password</title>
{% endblock %}
{% block content %}

<div class="reset-password">
<p class="reset-password-title">Your Password Has Been Sucessfully Changed. Please Login again</p>
<a href="{% url 'login' %}" class="send-mail">Login Now</a>
</div>


{% endblock %}