{% extends 'accounts/main.html' %}
{% load static %}
    {% block cssfile %}<link rel="stylesheet" type="text/css" href="{% static '/css/update_customer.css' %}">{% endblock %}
    {% block title %}<title>Create Customer</title>{% endblock %}

    {% block content %}
    <div class="login-mssg">
        <h3>Welcome {{request.user}}</h3>
        <a class="logout-button" href="{% url 'logout' %}">Logout</a>
    </div>
    <div class="widget-container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="username-fields field-div">
        {{form.name.label}}
        {{form.name}}
        </div>
        <div class="username-fields field-div">
        {{form.phone.label}}
        {{form.phone}}
        </div>
        <div class="email-fields field-div">
        {{form.email.label}}
        {{form.email}}
        </div>
        <div class="buttons-main">
        <input type="submit" name="submit" value="Submit">
        </div>
    </form>
    </div>
    {% endblock %}